.api-card {
  background: #111;
  padding: 24px;
  border-radius: 10px;
  width: 100%;
  border: 1px solid rgb(148,112,35);
}

.api-title {
  font-size: 18px;
  margin-bottom: 15px;
  color: rgb(148,112,35);
}

.api-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid rgb(148,112,35);
  background: #000;
  color: #fff;
}

.api-btn {
  width: 100%;
  padding: 12px;
  background: rgb(148,112,35);
  color: #000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}
