.csv-card {
  background: #111;
  padding: 24px;
  border-radius: 10px;
  width: 100%;
  border: 1px solid rgb(148,112,35);
}

.csv-title {
  font-size: 18px;
  margin-bottom: 15px;
  color: rgb(148,112,35);
}

.csv-input {
  width: 100%;
  padding: 12px;
  border: 2px dashed rgb(148,112,35);
  border-radius: 8px;
  background: #000;
  color: #fff;
  margin-bottom: 20px;
}

.csv-btn {
  width: 100%;
  padding: 12px;
  background: rgb(148,112,35);
  color: #000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.csv-btn:hover {
  opacity: 0.9;
}
